@font-face {
    font-family: Sour ;
    src: url(fonts/SourGummy-VariableFont_wdth\,wght.ttf);
}

@font-face {
    font-family: NerkoOne;
    src: url(fonts/NerkoOne-Regular.ttf);
}

@font-face {
    font-family: Nunito;
    src: url(fonts/Nunito-VariableFont_wght.ttf);
}


* {
    font-family: 'Poppins', sans-serif; 
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    padding: 0;
    margin: 0;
    color: black;
    font-size: 20px;
}

body {
    background-color: #A87676;
}

h1, h2, h3, .nav-btn {
    font-weight: bold;
}

.header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:5px;
    background-color: #FFD0D0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.mainImage {
    overflow: hidden; /* Skryje část obrázku, která přesahuje kontejner */
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2);
    z-index: 1;

}

.mainImage img {
    width: 100%; /* Nastaví šířku obrázku na 100% kontejneru */
    height: 600px; /* Nastaví výšku obrázku na 700 pixelů */
    display: block; /* Odstraní mezery pod obrázkem */
    filter: brightness(70%); /* Snížení jasu na 70% */
    object-fit: cover; /* Zajištění, že obrázek vyplní kontejner bez deformace */

}

.logo-common {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 5px 20px 5px;
    background-color: #FFD0D0;
    box-shadow: 0 -4px 8px 0 rgba(0, 0, 0, 0.2);
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    padding: 0px;
}
.footer-content .contact p {
    color: black;
}

.footer-content h3 {
    color: black;
    text-decoration: underline;
    padding-bottom: 10px;

}


.nav {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 30px;
    margin: 0 auto;
}

.nav-btn {
    background-color: #E1ACAC;
    border: none;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s, filter 0.3s;
    border-radius: 20px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
}

.nav-btn:hover {
    background-color: #CA8787;
    transform: scale(1.3);
    box-shadow: 0 4px 6px #dac1cf;
}

.scroll-to-top {
    position: fixed;
    bottom: 8%;
    right: 1%;
    display: none;
    cursor: pointer;
    transition: transform 0.3s ease; /* Přidání plynulého přechodu */
}

.scroll-to-top:hover {
    transform: scale(1.2); /* Zvětšení na 120% */
}

.scroll-to-top img {
    height: 50px;
    width: 35px;
}

h1 {
    text-align: center;
    font-size: 100px;
    padding: 20px;
}

h2 {
    text-align: center;
    font-size: 60px;
    padding: 10px;
}

h3 {
    font-size: 40px;
    text-align: center;
}

table {
    width: 90%;
    margin: 0 auto;
    border-collapse: separate; /* Změna na separate pro správné zaoblení */
    border-spacing: 0; /* Zajištění, že není mezera mezi buňkami */
    margin-bottom: 20px;
    background-color: white;
    border-radius: 20px; /* Zakulacení tabulky */
    overflow: hidden; /* Skrytí okrajů, které přesahují */
}
table h3 {
    font-size: 30px;
    color: white;
}
th, td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: #CA8787;
    color: white;

}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2%;
    margin: 1% auto;
    max-width: 90%;
}

.map-container {
    width: 45%;
    padding: 3%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 1% 2% rgba(0, 0, 0, 0.1);
    text-align: left;
    margin: 0 auto;
    margin-bottom: 2%;
}

.map-container iframe {
    width: 100%;
    height: 300px;
    border: 0;
    margin-top: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container1{
    width: 90%;

}

.container2{
    width: 90%;
}
.container1, .container2 {
    padding: 3%;
    background-color: #fff;
    border-radius: 10px; /* Změna z 2% na 10px pro ostřejší zakulacení */
    box-shadow: 0 1% 2% rgba(0, 0, 0, 0.1);
    text-align: left;
    margin: 3% auto; /* Zarovná horizontálně na střed */
}

.container1 h2, .container2 h2 {
    margin-bottom: 1%;
}

.container1 p, .container2 p {
    font-size: 110%;
    line-height: 1.6;
    margin-bottom: 2%;
}

.container1 .list ul {
    padding-left: 5%;
    list-style-type: disc;
}

.container1 .list ul li {
    margin-bottom: 1.5%;
    font-size: 110%;
    max-width: 200%;
}

.container1 .nav, .container2 .nav {
    display: flex;
    justify-content: center;
    margin-top: 2%;
}

.pics {
    text-align: center;
}

.pics img{
    justify-content: center;
    margin: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    height: 200px;
    width: 200px;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.2s;

}
.pics img:hover {
    transform: scale(1.1);

}

.certifikat img {
    width: 100%; 
    max-width: 500px; 
    display: block; 
    margin: 0 auto; 
    box-shadow: 0 1% 2% rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}
.certifikat img:hover {
    transform: scale(1.1);

}

        /* Lightbox stylování */
        .lightbox {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.8);
            display: none;
            align-items: center;
            justify-content: center;
            z-index: 1000;
        }

        .lightbox img {
            max-width: 90%;
            max-height: 90%;
            border-radius: 10px;
        }

        .close-lightbox {
            position: absolute;
            top: 20px;
            right: 20px;
            font-size: 2rem;
            color: white;
            cursor: pointer;
            padding: 10px;
            border-radius: 50%;
            transition: color 0.3s;
        }

        .close-lightbox:hover {
            color: #ff6f61;
        }



.list {
    text-align: left;
    display: inline-block;
}

.info {
    width: 100%; /* Nastaví šířku kontejnerů na 100% šířky rodiče */
    max-width: 600px; /* Maximální šířka 600px */
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto; /* Zajistí zarovnání na střed pomocí margin auto */
}

.info h2 {
    margin-bottom: 10px;
    text-align: center;
}

.info p {
    font-size: 18px;
    margin-bottom: 20px;
    padding: 10px;
}

.info img {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    margin-right: 5px;
}

iframe {
    width: 100%;
    height: auto;
    border: 0;
    margin-top: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.menu-icon {
    display: none;
    cursor: pointer;
    position: fixed;
    top: 8%;
    right: 5%;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
    border-radius: 25%;
    padding: 1%;

}

.mobile-menu {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: visibility 0s, opacity 0.5s ease;
    z-index: 1000;
}

.mobile-menu.active {
    opacity: 1;
    visibility: visible;
    overflow: hidden; /* Zabrání posouvání */
}
body.menu-active {
    overflow: hidden; /* Skrytí posuvníku */
}

.mobile-menu a {
    color: white;
    text-decoration: none;
    font-size: 2rem;
    padding: 20px;
    transition: color 0.3s ease;
}

.mobile-menu a:hover {
    color: #7b2ae6;
}

.close-menu {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 3rem;
    color: white;
    cursor: pointer;
    transition: color 0.3s ease;
}

.close-menu:hover {
    color: #7b2ae6;
}

#Cenik {
    display: none;
}

#TMRus {
    display: none;
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
    * {
        max-width: 100%;
        margin: 0 auto;
    }
    .nav {
        display: none; /* Skrytí původní navigace */
    }
    .header {
        width: 100%;
    }

    h1 {
        font-size: 350%;
        text-align: center;
    }
    .logo {
        margin: 0 auto;
    }

    .menu-icon {
        display: block; /* Zobrazení ikony menu */
    }

    .footer {
        padding: 8%;
        width: 100%;
    }

    .footer-content {
        flex-direction: column;
        align-items: center;
        text-align: center;

    }

    .footer-content .contact {
        display: flex;
        flex-direction: column; /* Umožní vertikální zobrazení */
    }

    .footer-logo {
        display: none;
    }
    
    .nav-btn {
        display: none; /* Odstraněno, pokud se nevyžaduje */
    }

    .header {
        padding: 8%; /* Odstraněno, pokud se nevyžaduje */
    }

    #Cenik {
        display: block;
    }

    #TMR {
        display: none;
    }

    #TMRus {
        display: block;
    }

    table {
        width: 90%;
    }

    th, td {
        padding: 8px; /* Zmenšení paddingu pro menší obrazovky */
        font-size: 14px; /* Zmenšení velikosti písma */
    }

    
    /* Zajištění, že obrázky v kontejnerech jsou responzivní */
    .pics img {
        width: 100%; /* Zajištění, že obrázky se přizpůsobí šířce kontejneru */
        height: auto; /* U držení poměru stran */
    }

    /* Zajištění, že text v kontejnerech je čitelný */
    .text-content {
        font-size: 1rem; /* Velikost písma pro text */
        line-height: 1.5; /* Výška řádku pro lepší čitelnost */
        padding: 10px; /* Odsazení uvnitř textového obsahu */
    }
}
