@font-face {
    font-family: Sour ;
    src: url(fonts/SourGummy-VariableFont_wdth\,wght.ttf);
}

@font-face {
    font-family: NerkoOne;
    src: url(fonts/NerkoOne-Regular.ttf);
}

@font-face {
    font-family: Nunito;
    src: url(fonts/Nunito-VariableFont_wght.ttf);
}


* {
    /*font-family: 'Poppins', sans-serif; 
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;*/
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-display: swap;

    padding: 0;
    margin: 0;
    color: black;
    white-space: normal; /* Umožní textu přecházet na nový řádek */
    word-break: normal;
}

body {
    background-color: #A87676;
}

h1, h2, h3, .nav-btn {
    font-family: 'Poppins', sans-serif;
    color: #CA8787;

}

.header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:5px;
    background-color: #FFD0D0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.mainImage {
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2);
    z-index: 2;
    overflow: hidden; /* Skryje část obrázku, která přesahuje kontejner */
    height: 300px; /* Nastaví výšku kontejneru na 300 pixelů */
    position: relative;

}

.mainImage #oko {
    width: 100%; /* Nastaví šířku obrázku na 100% kontejneru */
    height: auto; /* Umožní udržení poměru stran */
    min-height: 300px; /* Nastaví minimální výšku obrázku na 300 pixelů */
    display: block; /* Odstraní mezery pod obrázkem */
    filter: brightness(60%); /* Snížení jasu na 70% */
    object-fit: cover; /* Zajištění, že obrázek vyplní kontejner bez deformace */
    object-position: center; /* Oříznutí obrázku ze středu */
}

.mainImage #logo {
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    height: 230px; /* Zmenšená výška loga */
    width: auto; /* Umožní automatickou šířku */
}

.logo-common {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


.footer {
    display: flex;
    justify-content: space-between; /* Rozloží obsah na začátek a konec */
    align-items: center; /* Vertikálně centrovat obsah */
    padding: 20px; /* Přidání paddingu pro lepší vzhled */
    background-color: #FFD0D0; /* Pozadí patičky */
    box-shadow: 0 -4px 8px 0 rgba(0, 0, 0, 0.2);
}

.footer-content {
    display: flex;
    width: 100%; /* Umožní, aby se obsah rozprostřel na celou šířku */
    justify-content: space-between; /* Rozloží obsah mezi logo, rezervační systém a kontakt */
    align-items: center; /* Vertikální centrování */
}

.logo {
    flex: 1; /* Umožní logu zabrat místo vlevo */
}


.reservation {
    text-align: center; /* Centrovat text v rámci této sekce */
    flex: 1; /* Umožní rezervačnímu systému zabrat místo uprostřed */
}

.contact {
    flex: 1; /* Umožní kontaktu zabrat místo vpravo */
    text-align: center; /* Zarovnat text vpravo */
}

.reservation a {
    background-color: white; /* Pozadí odkazu */
    border-radius: 20px; /* Zaoblení rohů */
    padding: 5px 20px; /* Vnitřní okraje pro lepší vzhled */
    text-decoration: none; /* Odstranění podtržení odkazu */
    color: black; /* Barva textu */
}

.reservation a:hover {
    background-color: #E1ACAC; /* Změna barvy pozadí při najetí myší */
}

.footer-content .contact p {
    color: black;
}

.footer-content h3 {
    color: black;
    text-decoration: underline;
    padding-bottom: 10px;

}


.nav {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 30px;
    margin: 0 auto;
}

.nav-btn {
    background-color: #E1ACAC;
    border: none;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s, filter 0.3s;
    border-radius: 20px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
}

.nav-btn:hover {
    background-color: #CA8787;
    transform: scale(1.1);
    box-shadow: 0 4px 6px #dac1cf;
}

.scroll-to-top {
    position: fixed;
    bottom: 8%;
    right: 1%;
    display: none;
    cursor: pointer;
    transition: transform 0.3s ease; /* Přidání plynulého přechodu */
}

.scroll-to-top:hover {
    transform: scale(1.2); /* Zvětšení na 120% */
}

.scroll-to-top img {
    height: 50px;
    width: 35px;
}

h1 {
    text-align: center;
    font-size: 55px;
    padding: 20px;
}

h2 {
    text-align: center;
    font-size: 40px;
    padding: 10px;
}

h3 {
    font-size: 30px;
    text-align: center;
    padding: 10px;
}

table {
    width: 90%;
    margin: 0 auto;
    border-collapse: separate; /* Změna na separate pro správné zaoblení */
    border-spacing: 0; /* Zajištění, že není mezera mezi buňkami */
    margin-bottom: 20px;
    background-color: white;
    border-radius: 20px; /* Zakulacení tabulky */
    overflow: hidden; /* Skrytí okrajů, které přesahují */
}
table h3 {
    font-size: 30px;
    color: white;
}
th, td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: #CA8787;
    color: white;

}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 2%;
    margin: 1% auto;
    max-width: 100%;
    min-height: 300px;
    
}

.map-container {
    width: 45%;
    padding: 3%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 1% 2% rgba(0, 0, 0, 0.1);
    text-align: left;
    margin: 0 auto;
    margin-bottom: 2%;
}

.map-container iframe {
    width: 100%;
    height: 300px;
    border: 0;
    margin-top: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container1{
    width: 90%;
}

.container2{
    width: 90%;
}
.container1, .container2 {
    padding: 3%;
    background-color: #fff;
    border-radius: 10px; /* Změna z 2% na 10px pro ostřejší zakulacení */
    box-shadow: 0 1% 2% rgba(0, 0, 0, 0.1);
    text-align: left;
    margin: 3% auto; /* Zarovná horizontálně na střed */
}

h2 {
    margin-bottom: 1%;
}

.container1 p, .container2 p {
    font-size: 16px;
    margin-bottom: 1em;
}

.container1 .list {
    font-size: 16px;
}
.list ul {
    list-style-type: none; /* Odstraní výchozí odrážky */
    padding-left: 0; /* Odstraní standardní odsazení */
}

.list ul li::before {
    content: "-"; /* Přidá pomlčku před každou položku */
    margin-right: 10px; /* Přidá mezeru mezi pomlčkou a textem */
    color: black; /* Nastaví barvu pomlčky, případně změňte dle potřeby */
    font-weight: bold; /* Volitelné: zvýrazní pomlčku */
}

.container1 .nav, .container2 .nav {
    display: flex;
    justify-content: center;
    margin-top: 2%;
}

.pics {
    text-align: center;
}

.pics img {
    justify-content: center;
    margin: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 50%; /* Udržuje kruhový tvar */
    height: 200px; /* Nastavte výšku na 200px pro větší obrazovky */
    width: 200px; /* Nastavte šířku na 200px pro větší obrazovky */
    object-fit: cover; /* Zajištění, že obrázek vyplní kruh bez deformace */
    cursor: pointer;
    transition: transform 0.2s;
}
.pics img:hover {
    transform: scale(1.1);

}

.certifikat {
    display: flex; /* Umožní obrázkům být vedle sebe */
    flex-wrap: wrap; /* Umožní přechod na nový řádek, pokud je nedostatek místa */
    justify-content: center; /* Zarovná obrázky na střed */
}

.certifikat img {
    width: 45%; /* Změňte šířku na 45% pro dva obrázky vedle sebe */
    max-width: 200px; /* Maximální šířka pro větší obrazovky */
    display: block; 
    margin: 10px; /* Přidání mezery mezi obrázky */
    box-shadow: 0 1% 2% rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    object-fit: contain;
    border-radius: 20px;
}
.certifikat img:hover {
    transform: scale(1.1);

}

        /* Lightbox stylování */
        .lightbox {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.8);
            display: none;
            align-items: center;
            justify-content: center;
            z-index: 1000;
        }

        .lightbox img {
            max-width: 90%;
            max-height: 90%;
            border-radius: 10px;
        }

        .close-lightbox {
            position: absolute;
            top: 20px;
            right: 20px;
            font-size: 2rem;
            color: white;
            cursor: pointer;
            padding: 10px;
            border-radius: 50%;
            transition: color 0.3s;
        }

        .close-lightbox:hover {
            color: #ff6f61;
        }


.info {
    width: 100%; /* Nastaví šířku kontejnerů na 100% šířky rodiče */
    max-width: 600px; /* Maximální šířka 600px */
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto; /* Zajistí zarovnání na střed pomocí margin auto */
    flex: 1;
}



.info h2 {
    margin-bottom: 10px;
    text-align: center;
}

.info p {
    font-size: 18px;
    margin-bottom: 20px;
    padding: 10px;
}

.info img {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    margin-right: 5px;
}

iframe {
    width: 100%;
    height: auto;
    border: 0;
    margin-top: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.menu-icon {
    display: none;
    cursor: pointer;
    position: fixed;
    top: 8%;
    right: 5%;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
    border-radius: 25%;
    padding: 1%;

}

.mobile-menu {
    display: none; /* Skrytí mobilního menu */
    position: fixed;
    top: 0;
    right: 0; /* Umístění na pravou stranu */
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0; /* Počáteční opacity */
    transform: translateX(100%); /* Počáteční pozice mimo obrazovku */
    transition: opacity 0.5s ease, transform 0.5s ease; /* Přechody pro opacity a transformaci */
    z-index: 1000;
}

body.menu-active {
    overflow: hidden; /* Zamezení posouvání stránky */
}

.mobile-menu.active {
    display: flex; /* Zobrazení mobilního menu */
    opacity: 1; /* Konečná opacity */
    transform: translateX(0); /* Posun do viditelné oblasti */
}


.mobile-menu.inactive {
    opacity: 0; /* Konečná opacity při zavření */
    transform: translateX(100%); /* Posun zpět mimo obrazovku */
    transition: opacity 0.5s ease, transform 0.5s ease; /* Přechody pro opacity a transformaci */
}

.mobile-menu a {
    color: white;
    text-decoration: none;
    font-size: 2rem;
    padding: 20px;
    transition: color 0.3s ease;
}

.mobile-menu a:hover {
    color: #CA8787;
}

.close-menu {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 3rem;
    color: white;
    cursor: pointer;
    transition: color 0.3s ease;
}

.close-menu:hover {
    color: #CA8787;
}

#Cenik {
    display: none;
}

#TMRus {
    display: none;
}

#Certtt {
    width: 60%;
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
    * {
        max-width: 100%;
        margin: 0 auto;
    }

    .logo {
        text-align: center;
    }

    #Certtt {
        width: 90%;
    }

    .mainImage{
        height: auto; /* Umožní přizpůsobení výšky obrázku */
    }

    h1 {font-size: 40px;}

    h2 {font-size: 30px;}

    h3 {font-size: 20px;}



    .mainImage h1 {
        font-size: 2.5em; /* Zmenšení velikosti písma nadpisu pro mobilní zařízení */
        padding: 10px; /* Přidání paddingu pro lepší vzhled */
        overflow-wrap: normal;
    }

    .nav {
        display: none; /* Skrytí původní navigace */
    }

    .menu-icon {
        display: block; /* Zobrazení ikony menu */
        z-index: 1000;
        background-color: rgba(255, 255, 255, 0.837);
    }

    .mobile-menu {
        display: flex; /* Zobrazení mobilního menu */
    }

    .footer {
        padding: 8%; /* Zmenšení paddingu pro mobilní zařízení */
    }

    .footer-content {
        flex-direction: column; /* Umožní vertikální zobrazení */
        align-items: center; /* Zarovná obsah na střed */
        text-align: center; /* Zarovná text na střed */
    }

    .reservation {
        padding: 10px;
    }

    .contact {
        padding: 10px;

    }

    .pics img {
        height: 150px; /* Zmenšení výšky pro mobilní zařízení */
        width: 150px; /* Zmenšení šířky pro mobilní zařízení */
        margin: 10px; /* Zmenšení okrajů pro mobilní zařízení */
    }

    .container1, .container2 {
        padding: 3%;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 1% 2% rgba(0, 0, 0, 0.1);
        text-align: left;
        margin: 3% auto; /* Zarovná horizontálně na střed */
        max-width: 90%; /* Maximální šířka kontejneru */
        overflow: hidden; /* Skrytí přetékajícího textu */
    }

    .container1 h2, .container2 h2 {
        margin-bottom: 1%;

    }


    
    .container1 p, .container2 p {
        font-size: 90%;
        line-height: 1.6;
        margin-bottom: 2%;

    }

    table {
        width: 90%; /* Zajištění, že tabulka se přizpůsobí šířce kontejneru */
    }

    th, td {
        padding: 8px; /* Zmenšení paddingu pro menší obrazovky */
        font-size: 14px; /* Zmenšení velikosti písma */
    }

    .info {
        width: 90%;
    }

    .container {
        flex-direction: column; /* Změní rozložení na sloupec */
    }

    .info {
        width: 90%; /* Zajišťuje, že každá třída .info zabere celou šířku */
        margin: 5px 0; /* Přidá vertikální mezery mezi kontejnery */
    }
}
