<!-- components/navbar.html -->
<div class="header">
    <div class="logo">
        <a href="index.html">
            <img src="images/logo.svg" alt="world" height="50"> <!-- Cesta relativní k index.html -->
        </a>
    </div>
    <div class="nav">
        <button class="nav-btn" onclick="location.href='index.html'">ÚVOD</button>
        <button class="nav-btn" onclick="location.href='Sluzby.html'">SLUŽBY</button>
        <button class="nav-btn" onclick="location.href='Cenik.html'">CENÍK</button>
        <button class="nav-btn" onclick="location.href='Kontakt.html'">KONTAKT</button>
    </div>
    <div class="menu-icon" onclick="toggleMenu()">
        <img src="images/tripple-line.svg" alt="Menu" height="30"> <!-- Cesta relativní k index.html -->
    </div>
</div>
